<div class="row" ng-controller="EventController">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add Event</small></h5>
            </div>
        
            <div class="ibox-content">
                <form method="post" class="form-horizontal">
                    <div class="form-group" >

                        <div class="col-sm-12">
                            <label class="control-label">Title</label>
                            <input placeholder="Eg. Team Meeting" type="text" class="form-control" ng-model="event.title">

                            <div ng-show="errorMsgTitle" class="alert alert-warning col-sm-12 topMargin1">

                                <strong>Warning! </strong> {{errorMsgTitle}}
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Description</label>
                            <textarea rows="10" placeholder="Eg. Discussion regarding xxx ..." class="form-control" ng-model="event.description"></textarea>
                            <span class="help-block m-b-none">A short description about the event, its location etc.</span>
                            <div ng-show="errorMsgDescription" class="alert alert-warning col-sm-12 topMargin1">
                                <strong>Warning! </strong> {{errorMsgDescription}}
                            </div>
                        </div>

                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">

                        <div class="col-sm-12">
                            <label class="control-label">Venue</label>
                            <input type="text" placeholder="Eg. Pretoria, Cape Town, Bloemfontein, South Africa."  class="form-control" ng-model="event.place"/>
                            <div ng-show="errorMsgPlace" class="alert alert-warning col-sm-12 topMargin1">

                                <strong>Warning! </strong> {{errorMsgPlace}}
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">

                            <div class="col-sm-12">

                                <div class="col-sm-4" style="padding: 0px !important;">
                                    <label class="control-label">Date</label>
                                    <input style="background-color: transparent; " readonly type="text" placeholder="Date"  class="form-control" ng-model="event.date" my-datepicker/>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Time</label>
                                    <input readonly style="background-color: transparent;" type="text" placeholder="Time"  class="form-control" ng-model="event.myTime" my-timepicker/>
                                </div>
                                <div ng-show="errorMsgDateTime" class="alert alert-warning col-sm-12 topMargin1">
                                    <strong>Warning! </strong> {{errorMsgDateTime}}
                                </div>
                            </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <div>
                        <div class="form-group">
                            <div class="col-sm-12" align="center">

                                <button ng-click="cancelEvent('You want to Cancel!')" class="btn btn-danger" type="button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    &nbsp; Cancel
                                </button>

                                <button class="btn btn-success" type="button" ng-click="addEvent()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    &nbsp;Add
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>