<div>
<div class="row" ng-controller="TodosController">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Todos</h5>
                <!--<div class="ibox-tools">
                        <a ui-sref="event.add">
                            <button style="margin-top:-7%;" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Event</button>
                        </a>
                </div>-->
            </div>
		  <div class="ibox-content">

                <div class="row">
                    <div class="form-group" >

                        <div class="col-sm-12">
                            <form ng-submit="addTask()"  method="post" class="form-horizontal">
                                <input placeholder="Add tasks here" type="text" class="form-control" ng-model="todos.task">

                                <div ng-show="errorMsgTitle" class="alert alert-warning col-sm-12 topMargin1">

                                    <strong>Warning! </strong> {{errorMsgTitle}}
                                </div>
                            </form>
                        </div>

                    </div>
                    <!--<div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" ng-model="searchFields.event_title" id="event_title" name="event_title" value="" placeholder="Event Title" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input style="background-color: transparent; " readonly type="text" placeholder="Start Date"  class="form-control" ng-model="searchFields.event_time" my-datepicker/>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <input style="background-color: transparent; " readonly type="text" placeholder="End Date"  class="form-control" ng-model="searchFields.event_end_time" my-datepicker/>
                        </div>
                    </div>-->

                    <!--<div class="col-sm-3">
                        <div class="form-group">

                            <select ng-model="searchFields.event_status" name="event_status" id="event_status" class="form-control">
                            	<option value="" selected="">All</option>
                                <option value="complete">Completed</option>
                                <option value="pending">Pending</option>
                            </select>
                        </div>
                    </div>-->
                    <br /><br />
                     <div class="col-sm-12">
                         <div class="pull-left">
                             <!--<button ng-click="showPending()" style="margin-top: -3%; margin-left: 10px;" type="button" class="btn btn-danger pull-right">Completed <span class="badge"> {{complete}}</span></button>
                             <button ng-click="showComplete()" style="margin-top: -3%;margin-left: 10px; color: #fff; background-color:#286090; " type="button" class="btn  pull-right ">Pending <span class="badge"> {{pending}}</span></button>
                             <button ng-click="showAll()" style="margin-top: -3%; color: #fff; background-color:#1ab394; " type="button" class="btn  pull-right ">All <span class="badge"> {{all}}</span></button>
                             <input placeholder="search tasks" class="form-control"   type="text" ng-model="search.description" style="width:35%;margin-top: -3%">-->
                             <button ng-click="showPendingTasks()" ng-model="pend" style="margin-top: -3%; margin-left: 10px;" type="button" class="btn btn-danger pull-right">Completed <span class="badge"> {{complete}}</span></button>
                             <button ng-click="showCompleteTasks()" style="margin-top: -3%;margin-left: 10px; color: #fff; background-color:#286090; " type="button" class="btn  pull-right ">Pending <span class="badge"> {{pending}}</span></button>
                             <button ng-click="showAllTasks()" style="margin-top: -3%; color: #fff; background-color:#1ab394; " type="button" class="btn  pull-right ">All <span class="badge"> {{ complete+pending }}</span></button>
                             <input placeholder="search tasks" class="form-control"   type="text" ng-model="search" style="width:35%;margin-top: -3%">
                         </div>
                     	<!--<div class="pull-right form-group">
                     		<button ng-click="getEvent()" class="btn btn-success"><i class="fa fa-search"></i> &nbsp;Go</button>
                            <button ng-click="resetFilter()" class="btn btn-danger"><i class="fa fa-refresh"></i> &nbsp;Reset</button>
                        </div>-->
                    </div>
                </div>

                <loader></loader>
              <pagination></pagination>
              <div class="row">
                  <div class="col-md-12">
                      <div class="panel-group">

                          <div ng-if="eventRowset.length" class="panel panel-default">
                        <div  ng-if="!loader"  class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="col-sm-10">Tasks</th>
                                        <!--<th class="col-sm-2">Event Status</th>-->
                                        <th style="text-align: center" class="col-sm-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="eventRow in eventRowset | filter:{ status: pend, description:search } | orderBy : '-status'">
                                        <!--<td style="text-transform: capitalize">{{eventRow.title}}</td>-->
                                        <td>
                                            <span>
                                                <input ng-class="(eventRow.check || eventRow.status=='complete')? eventRow.check=true:eventRow.check=false" type="checkbox" ng-click="markTask(eventRow)" ng-model="eventRow.check" style="opacity:1">
                                            </span>
                                        </td>

                                        <td ng-class="(eventRow.check || eventRow.status=='complete') ? 'strikethrough' : 'null'">{{eventRow.description}}
                                            <!--{{eventRow.description | limitTo: 50}} ...-->
                                            <!--<br/>-->
                                                <!--<a data-toggle="modal" data-target="#eventReadMoreDetail" ng-click="openModal(eventRow)">
                                                   {{eventRow.length < 50 ? '' : 'Read more'}}
                                                </a>-->
                                        </td>
                                        <!--<td>{{eventRow.event_date | date:'dd MMM yyyy'}} {{ eventRow.event_time | getTimeSection}}</td>-->
                                        <!--<td>

                                            <span ng-show="eventRow.status == 'pending'" class="badge badge-success col-sm-6">
                                                Pending
                                            </span>
                                            <span ng-show="eventRow.status == 'complete'" class="badge badge-danger col-sm-6">
                                                Completed
                                            </span>
                                        </td>-->
                                        <td style="text-align: center">
                                            <!--<span ng-if="eventRow.status == 'pending'">-->
                                                <!--<a ui-sref="event.edit({event_id : eventRow.event_id})">
                                                    <button  class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</button>
                                                </a>-->
                                                <button ng-model="deleteEventId" ng-click="deleteTask(eventRow.task_id)" class="btn btn-xs" ><i class="glyphicon glyphicon-trash"></i></button>
                                            <!--</span>-->
                                           <!-- <span ng-if="eventRow.status == 'complete'">
                                                &lt;!&ndash;<button disabled  class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</button>&ndash;&gt;
                                                <button disabled ng-model="deleteEventId" ng-click="deleteEvent(eventRow.event_id)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Delete</button>
                                            </span>-->

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                      </div>
                          <div style="height: 300px;" ng-if="!eventRowset.length" align="center">
                              <label style="padding: 10px; margin-top: 10%; " class="label-danger">No Event Found</label>
                          </div>
                      </div>
                      </div>
              </div>

            </div>
        </div>
    </div>
</div>
</div>